<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Comment Board</h1>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <form action='/add' method='post'>
        {% csrf_token %}
        <input type="text" name="comment" placeholder="comment">
        <input type="submit" value="add">
    </form>
    <table>
        {% for comment in comments %}
            <tr>
                <td>{{comment.comment}}</td>
                <td>{{comment.created_at}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>